<nav class="navbar navbar-expand-lg bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand ms-sm-5 " href="/">
        <img src="../assets/images/booklogo.png" alt="" width="50px" height="50px"> <span style="font-size : 25px; color: rgb(4, 88, 88);  " class="fs-2 fw-bold">BookRentals</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 me-sm-5 ms-auto text-center ">
            <li class="nav-item ">
                <a class="nav-link fw-bold fs-4" href="/books"> Your No1 Source For Books!</a>
            </li>
        </ul>
        <ul class="navbar-nav mb-2 ms-auto mb-lg-0 me-sm-5 text-center " >
            <li class="nav-item ">
                <a class="nav-link fw-semibold loginbtn fs-5" href="/login">Hi! Sign In </a>
            </li>
            </li>
            <li class="nav-item">
                <a class="nav-link fw-semibold registerbtn fs-5" href="/Register">Register!</a>
            </li>
        </ul>
        
      </div>
    </div>
  </nav>